[2019-04-04 20:48] infeeeee opened #1 "Feature request: Option to use other division"
Thank you for the extension, works perfectly, I really like it.

I use an ultrawide monitor, and it wood be nice if the windows could be sized to 1/6 instead of 1/4. So 3 columns, 2 rows.

[2019-05-18 20:14] ermo opened #2 "Make this extension work with drag resize?"
Would it be possible for this extension to place nice with the existing mouse-grab-and-resize functionality of GNOME Shell?

There's an obvious way to group windows in this scenario, but it's difficult to describe in text. I would suggest simply doing it like i3 does it when the screen is divided into 4 equal quadrants.

[2019-07-21 22:59] quasipedia opened #3 "Making possible to use top or bottom of screen?"
I'm not a Win user, so I don't know if there's some non-obvious reasons why the following is undesirable, but...

...I would have expected the behaviour of the arrows to be consistent on the X and Y axis.  That's to say: if I am on a ¼ window on the top left of the screen and I press :arrow_down: I get for the first press ½ window occupying the full left size of the screen, and for the second a ¼

[2019-10-26 11:55] claell opened #4 "Get this into GNOME by default"
Currently GNOME already claims to support `Super + Up / Down / Left / Right` (while `Up / Down` does not work for me unfortunately).

So the addition of this extension seems to mainly be the 1/4 tiling. This would also be rather useful to have integrated directly into GNOME. I hope this can be done without much problems.

[2019-10-27 23:30] Fmstrat commented on #4
While I would certainly be open to contributing to GNOME, I'd need someone to seed the idea with them. If they were interested, I would dive into testing against stacked monitors and configurable grids (ultra-wide monitors may want a 6x4 or 8x4 instead of a 4x4), first.

[2019-10-27 23:31] Fmstrat commented on #1
I actually just mentioned this in another issue. This is on the TODO.

[2019-10-27 23:32] Fmstrat commented on #2
This is a potential, yes. Right now there is no code in place to track the mouse and I'm not sure if I can override GNOME's default. Other apps using holding a key to track, but I'm not a big fan of that from a usability standpoint. I will investigate this.

[2019-10-27 23:36] Fmstrat commented on #3
The goal of this extension was to help Windows user's transition over, which means if I expand I would mirror the Windows 10 functionality which is exactly what you describe for occupying the left, however a full top/bottom half is not their functionality.

That being said, this could easily be added to the configuration (once I add that in) in the same section where you will be able to configure

[2019-10-28 09:55] claell commented on #4
I could create an issue for that and wait for their response. Nice to hear that you are open, let's hope they are too.

[2019-10-28 19:44] Fmstrat commented on #4
@claell I chatted with the dev team in IRC, and have filed your request in the existing bug entry for quarter monitor docks: https://bugzilla.gnome.org/show_bug.cgi?id=696130

[2019-10-28 21:41] claell commented on #4
Nice to hear that! I left a comment on that issue.

[2019-11-17 21:32] ba32107 opened #5 "Window flashes while moving it around"
First of all, thank you for this extension - it is the only one I found that actually can snap windows into the corners, and can do this intuitively.

The only problem I have is a visual one. When I move the window around the screen, it keeps "flashing". An example:
1. Start with a fully maximized window
1. Super+right to snap it right
1. Super+down to snap it to the lower-right corner
1. Super+up

[2019-12-02 20:56] ba32107 commented on #5
Hi @Fmstrat, is this repo under active development? I'd be interested in contributing, but would need some help.

[2019-12-03 01:03] Fmstrat commented on #5
Hi, yes, this is maintained still. I am very open to contributions, feel free to fork off master and send a PR!

As for what is highest on the priority list, right now it's implementing a settings screen to set grod size (for ultrawide support) and stacked monitor support.

[2019-12-03 07:30] ba32107 commented on #5
Great, thanks. My top priority would be this particular issue as it really bothers me, I will try to look into it whenever I have the time.

I'd be grateful if you could help out with a few questions, as I'm new to gnome extension development. Do you have any suggestions regarding local dev workflow? What I did so far is simply edit the extension code, reload it, and test - but it's pretty tedious

[2019-12-05 23:50] ViToni commented on #5
https://wiki.gnome.org/Projects/GnomeShell/Extensions/Writing

[2019-12-07 19:26] ba32107 opened #6 "Add license file"
Use-case: I'd like to contribute to this project, and for that it'd be great to have a license.

A great site for more information:
https://choosealicense.com/

[2019-12-11 07:59] ba32107 commented on #6
@Fmstrat, did you have a chance to look at this? I've also opened https://github.com/Fmstrat/wintile/pull/7 for convenience.

[2019-12-30 15:02] #6 closed

[2019-12-30 15:03] Fmstrat opened #9 "Stacked monitor support"

[2019-12-30 15:04] #5 closed

[2019-12-30 15:34] Fmstrat opened #10 "Fix for flashing windows breaks mouse resize"
When mousing out of a maximize state, the window keeps it's size vs restoring to original or default. Need to track mouse state to fix.

Linked to: https://github.com/Fmstrat/wintile/issues/5

[2019-12-30 15:34] Fmstrat commented on #10
@ba32107 Any interest in taking this on?

[2019-12-30 19:22] ba32107 commented on #10
Ouch, yes, this is an oversight, I will look into it whenever I can.

[2019-12-30 22:29] Fmstrat commented on #10
I now also recall why I used the maximize function. Terminal windows, or other windows that only support window resizing as a multiple of their font size won't take up the full screen unless maximize mode is turned on.

[2019-12-31 14:30] ba32107 commented on #10
Yes, I noticed this as well. I decided that for me personally, the benefit of the snappy window movement was worth losing a little bit of cosmetics.

I also did another improvement in my own fork, I will raise an issue here to get your opinion.

And I will definitely look into this problem with the mouse (I'm hoping to do it over the weekend).

[2019-12-31 14:46] Fmstrat commented on #10
Awesome, thanks. The `develop` branch is non functioning at the moment, so you may need to work against a previous revision. I'm adding in a configurable grid to support ultrawide monitors in that branch and only about 85% done.

[2019-12-31 17:05] Fmstrat commented on #10
`develop` is function now. Including a config for 8 tile mode and top/bottom half support. Just going to do some other tweaks before working on the config, but it should be good for any mouse work now.

[2019-12-31 17:06] Fmstrat commented on #3
Added this feature in `develop`, will be in next release.

[2019-12-31 17:06] #3 closed

[2019-12-31 17:07] Fmstrat commented on #1
@infeeeee I've got support in develop for 2 or 4 column (once I build the config options). Does 4 column meet the needs of this issue?

[2019-12-31 17:28] Fmstrat commented on #10
Sorry for flooding the issue, but want to make sure you know the setting exists. There is now a `config.useMaximize` which allows use of vertical/horizontal maximization as a toggle.

[2020-01-01 19:02] Fmstrat commented on #1
@infeeeee Nevermind, I added 3 column support in `develop` for the next release. This will be changed in the new settings screen.

[2020-01-01 19:02] #1 closed

[2020-01-01 19:05] Fmstrat commented on #9
Added in 100px offsets, mouse drags required to go to top/bottom screens.

[2020-01-01 19:05] #9 closed

[2020-01-01 19:51] Fmstrat commented on #10
Fixed in `develop`

[2020-01-01 19:58] Fmstrat commented on #10
`grap-op-begin` occurs on window alt-tab as well as mouse grab. Need to check for actual window movement.

[2020-01-01 20:13] Fmstrat commented on #10
Well nevermind, that was much easier than expected.

[2020-01-01 20:13] #10 closed

[2020-01-01 20:15] infeeeee commented on #1
Yes, the best is an option for this, thank you!

[2020-01-02 17:08] Fmstrat commented on #2
We now have mouse grabbing built in to handle restore on move. That's the first step to tracking mouse movement. I'll take a look at how https://github.com/tobias47n9e/ScreenCoordinates is function next to see if I can get this in for the release after-next.

[2020-01-02 22:44] Fmstrat commented on #2
@ermo The first beta is in `develop` if you would like to try it out. I'm still working on overriding GNOME's default maximization, but dragging to individual quadrants works pretty well.

[2020-01-03 16:52] #2 closed

[2020-01-05 17:37] ba32107 commented on #10
I just had a chance to look into this. Tried the new develop branch, it's really sleek! I have a few suggestions / bug fixes / etc. I will open issues and pull requests for each.

[2020-01-05 17:54] ba32107 opened #12 "[develop] Preview settings are not straightforward"
In the new settings panel, `Turn on mouse dragging support` is a bit misleading - I assumed it would snap the window into the grid as I was dragging the window. Turns out it's actually the preview. Additionally, the `Use double width...` setting is only relevant when the preview is enabled.

My suggestions:
 * Rename `Turn on mouse dragging support` to `Enable preview while dragging windows`
 * Mo

[2020-01-05 18:01] ba32107 opened #13 "[develop] Bug: up-down corner behavior inconsistent in 4 column mode"
When moving the window in the corner from bottom to top, the behavior is not the same as all other cases.

Repro steps:
 * Set 4 column mode
 * Move a window in the top left corner
 * Move down, and the window expands vertically (as expected)
 * Move down, and the window goes into the bottom left corner (as expected)
 * Now move up, and observe that the window goes straight up. The expected behavi

[2020-01-05 18:15] ba32107 opened #14 "[develop] Bug: applications that start maximized are minimzed on down"
When an application starts maximized, and I move down, the window is minimized immediately. I would expect the window to unmaximize. Since the window started maximimized, there is no previous position, so a default unmaximized size could be calculated (e.g. a fixed padding from each side).

[2020-01-06 14:56] Fmstrat commented on #12
Hi, I just want to confirm your expectations of the mouse dragging support. If mouse dragging is enabled, it shows the preview on drag, and snaps on release. If mouse dragging is disabled, neither of those occur, so it's not just the preview.  I do agree the double width should be moved as a sub-setting, good idea!

[2020-01-06 14:57] Fmstrat commented on #13
Thanks for all the reviews/reports!

This is a great catch. I'll get on a fix for it.

[2020-01-06 15:00] Fmstrat commented on #13
Fixed in https://github.com/Fmstrat/wintile/commit/71c8955d39dad571e00945d5e5801b58d9e807ab

[2020-01-06 15:00] #13 closed

[2020-01-06 15:22] Fmstrat commented on #14
Fixed in https://github.com/Fmstrat/wintile/commit/fee067fd8c696123ced28cf36fb3bcfe668581b0

[2020-01-06 15:22] #14 closed

[2020-01-06 15:32] Fmstrat commented on #12
This is merged, and then I added another commit to clarify "snapping"

[2020-01-06 15:32] #12 closed

[2020-01-16 22:47] jonzivku opened #16 "Error after update/Install, GNOME 3.34"
GNOME 3.34, Ubuntu 19.10
After updating today, wintile throws an error.

[code]
No Wintile functionality available.

[2020-01-16 23:02] nemequ commented on #16
Ditto on Fedora 31 (GNOME 3.34.3).

[code]

[2020-01-17 03:34] Fmstrat commented on #16
Interesting. The compiled schema doesn't seem to be showing up for you. I will take a look in the morning.

[2020-01-17 11:43] Fmstrat commented on #16
Fixed in https://github.com/Fmstrat/wintile/commit/e970123874c29fbc9435c6c7e449a858c65d23e0

Pushing update to v4 to https://extensions.gnome.com now.

[2020-01-17 11:43] #16 closed

[2020-01-17 11:47] Fmstrat commented on #16
@jonzivku @nemequ If you could respond here after updated to v4 (once it's approved) to let me know if things are working or not, it would me much appreciated. Thanks.

[2020-01-17 17:51] jonzivku commented on #16
I can do that. Currently running v2 & it's working. Thanks for responding so quickly!

[2020-01-17 18:13] Fmstrat commented on #16
@jonzivku Thanks in advance. If you wanted to try it out vs waiting for GNOME to approve, you can get the ZIP from here: https://github.com/Fmstrat/wintile/releases/tag/v4

[2020-01-18 16:47] Fmstrat commented on #16
v4 is up on the extension site.

[2020-01-18 16:56] nemequ commented on #16
Updated from extensions.gnome.org, it works.

Thanks!

[2020-01-18 22:45] nemequ opened #17 "Pop-up menus cause windows to revert"
If you use wintile to put a window of a GTK+ program somewhere, then right click to bring up a context window, as soon as you move the mouse (like to select an item) the window will revert to its previous placement.

I'm hitting this constantly in GNOME Terminal (for copy and paste), but I just tested GEdit and the problem exists there as well.

This worked before the latest update.  I'm not absol

[2020-01-20 07:21] ba32107 commented on #17
Hmm, works perfectly for me on Ubuntu 19.10. This is what I did:
1. Open terminal
1. Move it to the bottom left corner with the hotkeys
1. Right click and select 'Always on top'

Works fine. Could you share your Wintile settings?

[2020-01-20 21:10] jonzivku commented on #16
v4 works on my system. Thanks!

[2020-01-21 20:54] nemequ commented on #17
I'm using the default settings, this happens with a fresh install.  And before the install I made sure ~/.gnome-shell/extensions/wintile@nowsci.com/ didn't exist.

Something is definitely odd.

I do Win + → and the Window takes up not quite half the screen on the left side (there is about a 5% margin to the left of the window).

Press it again and it moves the window to the right half but still do

[2020-01-21 21:29] Fmstrat commented on #17
@nemequ

I don't have a Fedora 31 handy, but can you turn on debug in the prefs:
[code]

And then send me the output of:
[code]
The `journalctl` will not exit. While it is running, do whatever it is that breaks, then if you could `Cntrl-C` and annotate the log file a bit to tell me when you're doing what it would be helpful.

Thanks!

[2020-01-22 01:22] nemequ commented on #17
Of course, thanks for looking at this.

xrandr:

[code]

journald, Win + →

[code]

Window is now maximized vertically, but horizontal position unchanged.

Win + →

[code]

Now the window is the same width as before, but the left edge is centered on the screen.  The contents of the old window are still visible at their old position, and it remains there even when changing virtual desktops.

Win +

[2020-02-06 09:39] justin-shepherd opened #18 "Minimum screen edge distance for mouse preview/snap"
The minimum distance between the screen edge to the window in showing the mouse preview is too much. Somewhat hard to describe so I've attached an image of what I'm explaining:

![2020-02-06_20-16](https://user-images.githubusercontent.com/4710051/73924033-edc2c580-491f-11ea-924b-a7f4a20489c4.jpeg)

The red areas are the minimum screen edge distance before a preview shows.

Understandably, I can s

[2020-02-06 11:52] Fmstrat commented on #18
Sure thing. While I'm in there I will also put in a setting for the preview delay time.

[2020-02-06 12:01] Fmstrat commented on #17
Ok, that gives me a lot more info. For some reason Fedora is reporting a window drag when using the right mouse button. Are you "right clicking" or "right click hold a dragging" to get to the menu option?

[2020-02-06 13:34] Fmstrat commented on #18
Fixed in https://github.com/Fmstrat/wintile/commit/4df818347bdf443a640844f495b15f1bafe9dd51

[2020-02-06 13:34] #18 closed

[2020-02-06 13:36] Fmstrat commented on #18
Feel free to rate on extensions.gnome.com once v5 is up ;)

[2020-02-06 13:50] Fmstrat commented on #18
Pushed to the extension store and awaiting review. It should show up today.

[2020-02-06 16:45] nemequ commented on #17
Just right click.  I release the mouse button immediately without moving the mouse at all and the pop-up appears, but as soon as I do move the mouse (with neither button depressed) the window is restored.

[2020-02-13 18:01] scherepanov opened #19 "Nice idea and clean implementation"
It is a very nice idea how to control tiling with only `<Super><Arrows>`, for several columns, and 2 rows.
Have you thought how to control several columns by several rows in a same way?
And, your code is very clean.
I think I can rather transparently add similar functionality to gTile.

[2020-02-24 14:09] PeteS4 opened #20 "Allow size adjustment of tiled windows"
Right now, when manually resizing a tiled window it jumps back to its original size and position instead of staying tiled. In Windows and Gnome without this addon, one can resize the tiled window and the adjacent window will grow or shrink accordingly. Would it be possible to add the same behaviour to this addon?

[2020-02-24 18:21] Fmstrat commented on #19
@scherepanov Thanks for the feedback. Yes, I think that would be a possibility by building out a grid. The multi-column support was added in rather quickly so I did it the manual way instead of calculating a grid.

[2020-02-24 18:22] Fmstrat commented on #20
Ahh, yes. This is certainly something it should do. I'll put it in for the next release.

[2020-04-18 12:47] igordovgaluk commented on #20
@Fmstrat would be great to have the feature. Without it the extension adds confusion to UX.

[2020-04-18 15:00] sk0gen opened #21 "winTile not compatible with GSConnect"
Problem with GSConnect extension.

Steps To Reproduce:

1. Go to [GSConnect](https://extensions.gnome.org/extension/1319/gsconnect/)
2. Click on install
3. Error message: screenshots.

**Expected behavior**
Extension just works properly.

**Screenshots**

![image](https://user-images.githubusercontent.com/28295528/79632335-db0a0f80-815e-11ea-8fb5-35d00f000094.png)]
Error after installation of winT

[2020-04-24 01:52] elliotwutingfeng opened #22 "[enhancement] Reduce minimum delay to 0 + fix minor typo"
Is it possible to reduce the minimum allowed value for the preferences field "Delay in ms before preview displays" to 0 instead of 100? This would allow me to "flick" windows to the edges without having to wait ~100ms for the tiling preview to appear (the actual observed latency may be even more than 100ms).

I also found a minor typo, "displays" was spelt as "dislpays" as of version 5.

[2020-04-30 04:11] Tumerskiy opened #23 "Support operation with GTK Title Bar"
Hi,
Nice job with this extension!

Some configurable via settings things can potentially raise the experience even further:

1) Jump to the screen/workspace to the left/right/up/down. Like in windows10 when the window is snapped to the side of the screen to which there is another screen attached, window can jump to the next screen on the secondary hot key press. If there is no next screen that dir

[2020-04-30 06:18] ba32107 commented on #22
I believe this should be doable, but will leave it up to @Fmstrat to make that decision, I am not sure if there is any reason behind having 100ms as a minimum value.

I've opened a PR to fix the typo.

[2020-04-30 06:24] ba32107 opened #25 "Snapping to other screen does not work if the Y coordinates are too far apart"
I have a 27'' external display that I use with my laptop, the screen of which is much smaller. I had them set up like so. Note that the smaller screen is vertically in the middle of the larger one:
![image](https://user-images.githubusercontent.com/26036493/80678634-37502600-8ab3-11ea-9af5-137810b2ce40.png)

This breaks the ability of snapping windows across screens. I believe the root cause is th

[2020-04-30 06:25] ba32107 commented on #23
Hi,

Although I am not the maintainer, allow me to reply:

1. This is already supported for jumping to other screens. I did notice a bug with this behavior that I believe might be causing you this problem. I have raised #25 to track it, please have a look and see if it solves your issue.

Jumping to other workspaces is not supported I believe, and I think it would be a nice feature. I recommend cr

[2020-04-30 06:30] ba32107 commented on #4
Was there any progress made on this? I'd also love to see this in Gnome by default.

[2020-04-30 12:54] Tumerskiy commented on #23
Hi,

1. I can confirm that window jumps as long as the screens are aligned by the top side. I believe it's a bug.
The jump to workspace in my description is tightly coupled with the jump to screen. I imply the same hot key invocation with the decision to jump based on what is available at particular direction with preference to screen.
2. Using "GTK title bar" extension.
Maximized window with nati

[2020-04-30 13:00] Tumerskiy commented on #25
I can confirm the behaviour. The hop to next screen is only available with top alignment of the screens.

[2020-04-30 14:56] Fmstrat commented on #25
This is a feature not a bug ;)

If you are using stacked monitors, say a 3x2 grid, the system needs to know how to switch left/right. I will look into making this value adjustable.

[2020-04-30 18:12] ba32107 commented on #23
Understood that the behavior is coupled from a user's perspective, but the implementation might be completely different. I recommend opening a separate issue for that, and use this to track GTK title bar support.

[2020-04-30 18:17] ba32107 commented on #25
Ah I see! Makes sense. However I believe the user should not have to configure this, or the very least it should be straightforward why the snapping does not happen with not aligned screens.

I think the good solution here would be to allow left-right snapping all the time if the user only has two screens. I would assume the large majority of users are not using stacked screens, so the default set

[2020-04-30 20:01] ermo commented on #20
@Fmstrat FWIW, #2 was meant to include this too...

[2020-04-30 20:58] claell commented on #4
I don't know. Maybe nobody from GNOME responded to the proposal? At least the bug did not get a reaction afterwards. Maybe this is lacking some awareness from the right people.

[2020-05-10 08:14] orena1 opened #26 "Is there a way to make it work with KDE"
Hi,
Is there a way to make it work with KDE, or maybe do you know of any alternative that works with KDE?

Thanks

[2020-05-11 22:48] loligans commented on #22
I went ahead and did this here: https://github.com/loligans/wintile/commit/1889cced37ce824779e350aaa260125e10f00b60

I ran into a problem setting the delay to 0ms. When the delay is 0ms gnome-shell will freeze. So instead of 0ms I opted for 25ms as the minimum which satisfies my desire for perceived responsiveness.

[2020-05-11 22:56] loligans opened #28 "Add option to ignore Activities Hot corner"
When moving a window to the absolute NW corner of the monitor WinTile does not perform a resize.

When moving a window to any other corner (SW, SE, and NE), WinTile performs a resize as expected.

I suspect that the Activities Hot Corner is the culprit, preventing WinTile from resizing. I propose disabling Hot Corner while the window is Grabbed and re-enable when the window Grab has ended.

[2020-05-15 20:03] ni-ka commented on #21
Indeed, this has been reported a few times now over at gs-connect https://github.com/andyholmes/gnome-shell-extension-gsconnect/issues/856 and https://github.com/andyholmes/gnome-shell-extension-gsconnect/issues/820

[2020-06-26 10:33] gazhay commented on #21
I've installed this PR and it works to fix #29.

[2020-07-09 06:16] farefernandez commented on #20
It would be great to have this!! Are there plans to make a new release?

Thanks for this great piece of software! I use it with a 3-column layout and it's really a good way to take advantage of wider monitors.

[2020-07-31 18:27] rvillablanca commented on #20
Very nice extension. We are waiting for this helpful feature :100:

[2020-08-17 12:12] jlost commented on #20
Would love to have this.

[2020-08-17 13:06] Fmstrat commented on #20
Hey guys, just an update since there have been recent comments. I've been thinking about this and the tough part is going to be managing all the different column counts. I'm debating on a rewrite that uses a calculated grid instead, which would make this much, much easier. Unfortunately I haven't had a lot of time to dedicate to this particular project lately.

[2020-08-17 14:00] jlost commented on #20
I would be satisfied even if the windows just retained their dimensions when you manually resized them - see attached screencast, I try to adjust window size from a tiled position and it snaps back to its pre-tiled state.
https://streamable.com/j8jo6x

[2020-08-24 21:25] JohnMcLear opened #30 "I'm missing how ultrawide support is supposed to work."
I set ``cols`` to 3 in ``~/.local/share/gnome-shell/extensions/wintile@nowsci.com/extension.js`` but doing Super left / right doesn't give me anything except 2 cols (IE 50/50 split)... What am I missing!?  Sorry for the stupid question..

[2020-10-04 12:23] Thoma5 commented on #26
KDE provides quarter tiling by default (if it is not enough there are some kwin tiling extensions).
And no, there is no way to make a gnome extension work on kde plasma, they are two completely different shells with different code bases and bindings.

[2020-10-07 03:32] #26 closed

[2020-10-07 13:56] #22 closed

[2020-10-08 12:41] #21 closed

[2020-10-09 19:57] Fmstrat opened #33 "Clicking on windows near top of screen activates WinTile"
When clicking on a window title bar near the top of the screen, it activates WinTile. This could be due to the reduced delay time to 25ms. Needs investigation.

[2020-10-09 19:58] Fmstrat commented on #33
Potential cause: https://github.com/Fmstrat/wintile/pull/27

[2020-10-09 20:03] Fmstrat commented on #33
@loligans Could you validate this? I have found that clicking a title bar of say, a maximized window towards the right hand side instantly locks it to top 1/4 screen without a drag. And sometimes clicking X on a window that isn't active will move the active window to that tile location.

[2020-10-10 12:59] jamesrbarker opened #34 "Corner tile, using mouse to open context menu or sub-window causes window to revert"
Greetings,

I"m loving this extension, however I may have found a bug.

WHAT HAPPENS (100% reproducible):
+ Move window to corner (quarter tile) (eg: nautilus, gedit, etc..)
+ Right click and select "Properties" or any item which will cause a sub-window to open.
+ Immediately, the window will be pulled out of the corner tile position, and extend partially off screen.
Sometimes this occurs as soon

[2020-10-10 13:10] Fmstrat commented on #34
What is your delay set to? And does increasing it to 500ms fix this?

[2020-10-10 13:14] jamesrbarker commented on #34
Ben,

"Delay in ms before preview displays" was set to 100ms.  I changed it to
500ms and the issue persists.
J

On Sat, Oct 10, 2020 at 4:10 PM Ben Curtis <notifications@github.com> wrote:

[2020-10-10 15:04] ba32107 commented on #20
I believe the original description describes two separate issues.

This is a bug, and it's the same thing @jlost described in the above comment, and what's visible on the screencast.

If I understand correctly, what @PeteS4 means here is that if you have multiple tiled windows (e.g. 2 half-screen sized windows, next to each other), then he would like both windows to resize accordingly, when he res

[2020-10-10 15:06] ba32107 commented on #34
Hi @jamesrbarker, I'm having trouble following your reproduction steps and understanding exactly what the issue is. Is this the same problem described in [this](https://github.com/Fmstrat/wintile/issues/20#issuecomment-674899324) comment? There is a  link to a screencast - is this the issue you're describing?

[2020-10-10 15:18] Fmstrat commented on #34
I wonder if this is an issue with Wayland interactions? That's the only system difference I can think of. Perhaps it's interpreting the "properties" click as a "window" click.

[2020-10-11 07:17] PeteS4 commented on #20
Yes. I was not sure if the first issue is a bug or intended behavior to prevent tiled windows from overlapping with other tiling areas. Therefore I added the second part to show how other tiling engines handle this issue.

[2020-10-11 11:16] jamesrbarker commented on #34
Ben & Balazs,

Thanks for the reply!  I looked at the other ticket's issue.  I'm affected by that issue, however the issue I reported seems to be different.  I've linked a video of my issue.  https://streamable.com/wjgjgp  You'll see that the tiled window behaves erratically as soon as I open the context menu and then begin to move my mouse toward any of the context menu's items.  In the video I r

[2020-10-12 19:52] loligans commented on #33
I'm at work right now, but I suspect that when the following conditions are met an accidental resize operation might occur:
- When the cursor is close enough to an edge or corner. (Within the area to trigger a resize)
- And the user initiates a window drag operation.
- Then the resize operation gets triggered.

The bug has likely been hidden all along because the delay was much longer. Since the d

[2020-10-12 20:32] ba32107 commented on #34
Ah right, I understand now, I did do the same repro steps, but because I use X, it didn't happen. Looks like this is a Wayland-only issue.

[2020-10-12 20:36] ba32107 commented on #34
Also I'm pretty sure this is the same issue as #17 (as you mentioned)

[2020-10-12 20:39] ba32107 commented on #17
This seems to be an issue in Wayland only. It's a duplicate of https://github.com/Fmstrat/wintile/issues/34

[2020-10-12 20:39] #17 closed

[2020-10-12 23:14] Fmstrat commented on #33
Well, I wouldn't say it was a bug before :) The more I think about it I'm pretty sure that's why I had the delay set longer than a standard "click time". I will investigate to be sure.

[2020-10-13 09:36] jamesrbarker commented on #34
Excellent, thank you for looking into this for me!
J

On Mon, Oct 12, 2020 at 11:36 PM Balazs Gyurak <notifications@github.com>
wrote:

[2020-10-13 16:23] olibre commented on #4
I have just added a comment on a recent issue on the new GNOME bug tracker:
https://gitlab.gnome.org/GNOME/mutter/-/issues/966

[2020-10-13 19:34] ba32107 commented on #34
I will take a look at some point but can't promise anything as I'm not familiar with Wayland at all

[2020-10-15 13:19] claell commented on #4
@Fmstrat From what I read on the GitLab issue above, the GNOME devs seem to be open to contributions, if their requirements are met. Not sure whether that is already the case with this project and whether it is easy to transfer that to the upstream code.

[2020-10-21 23:51] derVedro opened #35 "bug: strange window behavior on demaximize"
If you drag maximized window with mouse it show up somewhere left from your mouse cursor. I made a video:

https://idiod.video/cxowz2.mp4

what you see there:

0:03 - 0:07 maximize/demaximize with double click on title bar - 👌
0:07 - 0:11 maximize by putting the window to top of the screen / demaximizing by grabbing it from there - 👎
0:18 - 0:30 the same as befor but with turning off wintile exten

[2020-10-25 19:23] NotStirred opened #36 "Corner snapping in the top left doesn't work if the mouse is exactly in the corner"
distro Ubuntu 20.04.1
using gnome 3.36.4
Only using a single monitor

[video](https://www.youtube.com/watch?v=bf1GySk1KIw)
I show the 3 other corners working as expected, but the top left one doesn't.

[2020-10-27 17:43] vincentmathis opened #37 "Strange behavior under Wayland and one key difference to Windows 10 snap"
When I have a floating window and I press Super + Left or Super + right, the window maximizes vertically but stays at its horizontal position. Pressing Super + left or Super + right afterwards does nothing, pressing super + up or super + down on the other hand will move the window in the corner, depening on the left/right direction of the previous hotkey.

Moving between quadrants seems to work bu

[2020-11-07 17:32] Enekk opened #40 "Wintile no longer functioning under Gnome Shell 3.22.3-3/Linux 5.9.0-1-amd64/Nvidia-driver 390.138-1"
A recent update to Debian testing has left Wintile unable to do tiling.  The app still draws the blue box of where the windows will be placed, but then the window does not place.  In addition, shortcuts work to do the built-in tiling, but do not work for the corner tiling.

I had three major changes in this update:
1. Gnome Shell: 3.38.1
2. Linux: 5.9.0-1-amd64
3. Nvidia-driver: 390.138-1
4. Winti

[2020-11-10 12:33] Enekk commented on #40
An update.  After a round of updates, wintile is working again with many, but not all, apps.  The big offender is Gnome Terminal (3.38.1) and I was able to reproduce it with the GUI version of Emacs (GNU Emacs 26.3 (build 2, x86_64-pc-linux-gnu, GTK+ Version 3.24.20)) while stuff like Firefox or Slack easily tile.

[2020-11-10 13:54] Fmstrat commented on #40
What do you mean by a "round of updates"? On the GNOME side?

[2020-11-10 16:11] Enekk commented on #40
Some of the updates were Gnome related (running Debian testing).

[2020-11-22 09:57] iamklaus commented on #40
Any idea where what the problem of the terminal behaviour is coming from? Geary (Mail Client) shows the same behaviour as the terminal, but most application work, many thanks!

[2020-11-23 02:01] Enekk commented on #40
I'm happy to experiment if @Fmstrat has anything that would be useful.  Maybe I can turn logging on (where are those stored?) and see if anything shows up?

[2020-11-24 15:13] erihanse opened #41 "Feature Request: Let us choose up to 4 rows"
It would be nice if we could also have the option to have more than two rows.

[2020-11-28 19:00] moritz-weber opened #42 "3 cols with 3440px"
First of all: thank you for this great extension.
As 3440 is not divisible by 3, there are 2 pixels free on the right edge.
Would it be possible to make the first and third column one pixel wider?

[2020-12-15 18:13] 14kaitou opened #44 "don't overwrite the default manual size"
Hi, I want to ask? this is a very extreme tiling that's fast and reliable but, it overwrites my default size with the last tiling size, can there be an option to save the size that I set so don't get overwrites by the extensions or add it to the new feature, for consideration?.

- extension on

super+something to till, then I double click on the window panel or minimize+maximize button but it back

[2020-12-15 18:39] ba32107 commented on #44
I believe this is a duplicate of https://github.com/Fmstrat/wintile/issues/20

[2020-12-15 19:35] #44 closed

[2020-12-19 18:04] zb3 commented on #34
I'm not sure whether this is the same bug, but it appears that Wayland emits a grab event when a popup menu is opened. That one can however be distinguished from other grab events by checking `meta_grab_op`. In my fix below, I simply ignore grab events in that case, see:
https://github.com/zb3/wintile/commit/ec0041a7fd5cf64fd63d56251a816f610534dfdf

[2020-12-20 03:12] nekohayo opened #45 "Resolution/screen-dependent amount of columns?"
I have two monitors: one at 2560x1080 and one at 1920x1080. In the first case it makes sense to have three tiling columns sometimes (but sometimes not, depending on the application!) and on the other (1920x1080) monitor it pretty much never makes sense for me to triple-tile.

Ideally I'd like this extension to be able to have per-screen-width columns.

And potentially, alternatively, configurable

[2020-12-27 00:01] bestrandomnameever opened #46 "Allow window to expand to multiple columns"
Really loving the granularity of having more than 2 columns, but it would be nice to be able to have windows that span multiple columns. I was thinking that perhaps a couple of additional shortcuts to "grow" windows would be a way to achieve this.

Example (using Alt+Direction keyboard shortcuts as placeholder):
- Starting with a 3 column layout where a window takes up the top of the center column

[2020-12-28 20:03] Itookmyprozac opened #47 "Feature request: gaps"
When you tile the windows the monitor looks like a crowded elevator. Adding gaps between them or at least giving the option to the user to add them would be great!

[2021-01-02 07:33] MarwanAbdelatti opened #48 "Stops responding when logging in after "suspend""
The extension doesn't work when my laptop is back from "suspend" mode. Does not even let the default Ubuntu tiling work.
I had to disable and re-enable the extension to have it working

[2021-01-16 16:49] pedrojorgedev commented on #40
I am experiencing the same bugs with the gnome terminal. Tried other terminal emulators like xterm and terminology and the problem persisted. Installed the GUI version of Emacs to confirm after reading this, same problem.

[2021-01-18 14:17] RayDeCampo commented on #47
I'm having the opposite problem - I have gaps and I don't want them (or they are too big).

The lesson, as always, users are never satisfied. ;-)

[2021-01-28 16:47] NeroProtagonist commented on #40
Gnome Terminal doesn't work for me either on Ubuntu 20.04.

[2021-01-28 17:39] cascremers commented on #40
It looks like the thing I fixed at #49, let me know if that works for you.

[2021-01-28 17:42] pedrojorgedev commented on #40
@cascremers I replied just that in your pull request! Can you tell me how to try the changes in my own machine, so I can report back?

[2021-01-28 18:19] cascremers commented on #40
My change only involves the file `extension.js`, if you copy [my version](https://raw.githubusercontent.com/Fmstrat/wintile/7dac8cb5f79e4c5fcd58378698d85c050164b758/extension.js) over your own local copy, which should be in this directory:

`~/.local/share/gnome-shell/extensions/wintile@nowsci.com`

and then log out and log back in, you should be running the updated version.

[2021-01-28 18:31] pedrojorgedev commented on #40
Done that and it is now working as intended. I support this fix @Fmstrat

[2021-01-29 02:48] trisct opened #51 "Not tiling to the correct position"
The windows cannot tile to corners, either by using `super`+`arrow` or by dragging. I suspect it is due to some ubuntu system upgrades.

My system specs:

ubuntu20.04
gnome version 3.36.8
gnome-shell 3.36.4

[2021-01-31 17:17] ba32107 commented on #40
Fixed in https://github.com/Fmstrat/wintile/pull/49, will be released by @Fmstrat. For now, the fix can be applied manually by checking out the `develop` branch.

[2021-01-31 17:17] #40 closed

[2021-01-31 21:33] wiebe commented on #34
@zb3 That is the same bug and i can confirm your fix works :+1: Maybe you could do a pull request so that it can be merged? :-)

[2021-02-01 14:53] Fmstrat commented on #34
@zb3 Would you like to do a PR? If so, I'll hold on doing this fix.

[2021-02-01 15:58] zb3 commented on #34
@Fmstrat @wiebe done, I've submitted a PR.

[2021-02-01 22:27] kupokunic opened #53 "Clicking and dragging on close/minimize/maximize breaks the snap"
So if you accidentally click on one of the window buttons, normally you could just hold the button down and drag of it to prevent the click from happening. However, while that still works here, it breaks the snapping.

Video of it: https://user-images.githubusercontent.com/69876612/106525921-c0691300-64b2-11eb-95e5-4f7a096ef6d0.mp4

[2021-02-03 09:09] Esokrates opened #54 "Support touchscreen devices"
Convertibles / Laptops with touchscreen are much more common these days and may be even more in the future.
This ticket is a mixture between bug report and feature request:

1. BUG: Snapping does not work with touchscreen under Wayland:
Gnome Wayland works very much better in general with touchscreens, however this extension does not work at all with the touchscreen: it makes tiling impossible whe

[2021-02-05 23:37] D1Ck3n opened #55 "does not work with PopOS 20.10"
Good day,

I'm currently trying out PopOs 20.10 with Gnome 3.38 on my workstation and I'm bothered that I can't get the Windows 10 style tiling to work (have always used cinnamon so far). Now I've seen your extension and was first excited! I installed it immediately but unfortunately the default shortcuts (change focus of windows) remain. What can be the reason for this?

Best regards

[2021-02-06 16:02] venteto opened #56 "Feature requests: top/bottom edge tiling, top bar indicator, shortcuts discoverability/configurability"
I'm loving this extension for quarter tiling! My only request would be to add the ability to tile to the top or bottom halves of a screen (like with the ShellTile GNOME extension), and to have a top bar indicator (like with the Pop Shell extension).

Also, in the settings it would be nice to at least see what keyboard shortcuts are set (e.g., for people who don't actually use Windows 10 and have n

[2021-02-06 16:17] derrgill commented on #34
I'm having this same problem on Manjaro using Wayland, but just one small clarification. I have my mouse buttons reversed, so my _secondary_ click in this case is a left click. I have a Nautilus window tiled to a corner, and when I secondary click on a folder to view properties, this causes the tiled window to become untiled.

[2021-02-08 06:54] knotdevel commented on #51
I have the same problem, after upgrading libmutter-6-0 package from 3.36.6 to 3.36.7.
My workaround is to change app.move_resize_frame(**true**,...) to app.move_resize_frame(**false**,...) in extension.js.

My environment:
Ubuntu 20.04

Reference:
https://www.reddit.com/r/gnome/comments/kmoeh8/what_exactly_does_the_user_op_paramter_in/

[2021-02-09 20:50] johnlawerance commented on #51
I am also experiencing this issue. Attempted the work around @knotdevel suggested and reloading the extension does not appear to fix for me.

ubuntu 20.04
gnome 3.36.8
gnome-shell 3.36.4
libmutter 3.36.7

[2021-02-16 21:24] JSkier21 commented on #51
Same thing in Arch, half tiling still works across the board, but quarter tiling doesn't work in many apps (ie. pithos, gedit, and most Gnome apps don't work).

The js workaround didn't do anything for me either.

- mutter 3.38.3
- gnome-shell 3.38.3

[2021-02-23 12:47] Enekk opened #57 "Some Windows (e.g. Gnome Terminal) Do Not Fill Entire Area Available To Them"
I am running Debian Testing and am using a version of wintile that has had commit 7dac8cb ("Fix for movement bug for gnome-terminal and [gnome-]terminator") merged into it.  When I send a terminal to the corner, it does not fill the entire corner.  Please see screenshot:
![bad_terminal_corner_fill](https://user-images.githubusercontent.com/1928133/108845170-14937e80-75ab-11eb-8a9e-fded853fb421.png

[2021-03-19 13:44] charlesritchea opened #58 "Unable to snap Gnome Terminal into certain quadrants in Ubuntu 20.10"
When I try to move Gnome Terminal into certain quadrants in Ubuntu 20.10 it will restore to the arbitrary original placement instead, it's different quadrants depending on if it's mouse placement or keyboard.

[2021-03-29 19:16] nariox opened #59 "GNOME 40 Support?"
Hi,
While GNOME 40 has implemented some of the functionality of this extension, quartile tiling and multicolumns are not yet implemented natively. Are there plans for GNOME 40 support in the future?
Thank you

[2021-04-16 06:07] xinix00 opened #61 "<super><shift> LEFT/RIGHT/UP/DOWN to make screen larger"
If I want a screen 1 column larger (or one row higher) I now have to pres SUPER + UP, SUPER + UP (to make it maximized) SUPER + LEFT to make it 3 columns.

I would love to have SUPER + SHIFT + RIGHT/LEFT to make it from 2 columns to 3 columns (I use this on a super ultrawide screen with 4 columns). Also the same idea if you are 1 row 1 column in size, and you want it to span 2 rows, I now have to

[2021-04-23 13:04] nariox commented on #59
I am here to report that I have tested wiebe's brach and it works properly for me.
Thank you @wiebe.

[2021-04-28 17:31] gazhay commented on #48
I have a similar issue - it works if you drag a window to a hotzone, but keycombos stop working after sleep or suspend until you disable and re-enable the extension.

[2021-04-29 13:46] #59 closed

[2021-04-29 13:46] #34 closed

[2021-05-29 14:24] krishnaap opened #63 "How to install it?"
Installation instructions aren't clear. Could you elaborate on how to install it properly?

[2021-06-16 15:41] christianfl opened #64 "Extension not compatible with GNOME 40.1.0"
Hey! Thanks for this neat extension. Unfortunately the extensions.gnome.org site states "INCOMPATIBLE". Hence, installing is not possible over that page. I'm running Fedora 34 with GNOME 40.1.0.

[2021-06-22 18:19] DaemonLife commented on #64
Great extension, what I have been looking for for a long time! but on gnome 40.2 it is also impossible to install from the site. Is manual installation possible? I hope this extension will be supported by the entire community!

[2021-06-22 18:32] DaemonLife commented on #64
Use this command to disable shell version checking.

`gsettings set org.gnome.shell disable-extension-version-validation "true"`

Refresh [page](https://extensions.gnome.org/extension/1723/wintile-windows-10-window-tiling-for-gnome/) and install the extension and enter next command:

`gsettings set org.gnome.shell disable-extension-version-validation "false"`

[2021-07-05 09:36] Vistaus commented on #63
You can install it easily from the GNOME Extensions site: https://extensions.gnome.org/extension/1723/wintile-windows-10-window-tiling-for-gnome/

[2021-07-19 11:38] beevabeeva opened #66 "mouse preview flashing"
Is this expected behaviour?
![movie](https://user-images.githubusercontent.com/19332617/126154328-8db0fc3a-eb8d-48f2-bc95-69f9684cd7e8.gif)

In [this](https://www.omgubuntu.co.uk/2021/07/gnome-shell-quarter-tiling-extension-wintile) article, the gif shows different behaviour:
![3AoPr2B](https://user-images.githubusercontent.com/19332617/126147042-95902dd6-27df-4739-a289-9fae20d1e7e1.gif)

On Ubunt

[2021-07-23 22:11] TheRoarkster opened #67 "Wintile overrides GNOME 40 keyboard shortcut settings"
I really enjoyed wintile and appreciate your development of the extension.  Unfortunately, it kept overriding my GNOME settings for keyboard shortcuts (e.g., tile left 1/2, tile right 1/2).  I couldn't find a way to turn this off in the settings.  Though I don't use it anymore, I thought I'd report the issue.

[2021-08-30 10:19] hmlendea commented on #58
I also have a problem snapping the GNOME Terminal to the lower quadrants of the screen on Arch Linux. For me though it's a bit different. It does snap there, but it's not snapped perfectly (at all), instead it rests above the screen edge, leaving a gap between the screen edge and the bottom of the terminal.

![image](https://user-images.githubusercontent.com/10261133/131324758-85203517-add0-4bfa-b

[2021-08-30 12:41] hmlendea opened #68 "gsettings: No schema found"
There's some issue with the gsettings of this app.
When using `dconf-editor` all of the settings have the following warning/error: `No schema found` and have no default value/description.

![image](https://user-images.githubusercontent.com/10261133/131340152-d2971d4a-5c4e-49a6-b9f0-052a53dfc74f.png)

They still get saved and loaded by the extension, but they are not implemented properly.

This als

[2021-10-01 09:33] manfreed commented on #46
As a workaround, you can make a window fill the screen, and then shrink it to your desired size, which kinda makes you achieve what you just proposed, but sure, it would be great if you can grow the window too.

I don't recommend using Alt+arrows for this, some productivity apps rely on this.
I believe all window management keyboard shortcuts should require the super key.

[2021-10-01 09:35] manfreed commented on #57
This is because Gnome Terminal's window cannot be freely sized. I don't think this is something to be fixed in this extension, rather in GT itself.

[2021-10-24 11:11] okias opened #69 "Bump for GNOME 41"
Please bump version,  Debian testing just switched to GNOME 41 making this extension not usable.

[2021-11-09 16:50] volodymyrkramar commented on #69
triple

[2021-11-11 10:41] dhiller commented on #69
+100 since pop-shell fails on me and gtile is not working. Would be really great to see this!

[2021-11-11 22:46] bshor commented on #69
Me too!

[2021-11-16 20:34] MrIsak opened #71 "Ubuntu 21.10 (GNOME Shell 40.5) is incompatible"
Trying to install this extension on ubuntu 21.10 (GNOME Shell 40.5), but it says incompatible.
After setting "disable-extension-version-validation" to "true"  it still wont work. It gets installed. But when enabled, it keeps disabling by it self.

Upd:
Tried a manual install, with updated metadata.json including version 40.5. Same thing happens. Extension keeps getting disabled.

[2021-11-18 13:04] fthiery commented on #69
Just adding 41.0 to the metadata.json file did the trick for me

[code]

[2021-11-18 13:08] fthiery commented on #69
Apparently someone else did something already:
https://github.com/Fmstrat/wintile/pull/70

[2021-11-23 18:04] ahodges22 commented on #69
Any idea when a release will be created with that bump?

[2021-12-03 17:20] JAKuhr commented on #64
The latest version should be compatible with Gnome 40. I think the problem is the entry for the "shell-version" in the file "metadata.json". Gnome 40 is listed as "40.0" but should be listed as "40" to include also 40.1, 40.2 and so on.

[2021-12-10 08:54] nihil39 commented on #69
Is it possible to make a fork release with just that version bump?

[2021-12-13 13:29] #71 closed

[2021-12-13 13:31] MrIsak commented on #71
PEBSAC ( Problem Exists Between Screen And Chair )

[2021-12-24 18:34] bshor commented on #69
Where is the metadata.json file in the file system to modify for 41?

[2021-12-24 21:29] okias commented on #69
Hey @Fmstrat while I'm very glad you made this extension, but have you thought about giving someone who could maintain it access to the repo?

On one hand, it's great extension, on other hand, until I manually bumped it to support GNOME 41, it kept me with half-broken window managment (broken shortcuts), so it would be nice to approach it somehow :wink:

[2021-12-24 22:44] Fmstrat commented on #69
@okais

I'd love to. @jacksongoode @justperfection @lamarios @wiebe as you've provided PRs for GNOME bumps, are any of you interested?

[2021-12-25 01:34] lamarios commented on #69
I don't mind helping, but I still wouldn't have access to the gnome extension account to publish it.

[2021-12-25 12:12] wiebe commented on #69
I also wouldn't mind helping, still use this extension everyday :-)

[2021-12-25 12:18] Fmstrat commented on #69
@lamarios @wiebe Let me figure out how to handle extension submission, then I'll add you both. Thanks!

[2021-12-31 09:37] sylvainfaivre opened #72 "Please document this extension's functionality"
Some people (like me) haven't used a Windows OS for years, but would be interested in this extension anyway.
How should we know what it does ?
As far as I could see by reading articles and trying it out :

- define a grid of 2 rows x 2 to 4 columns (tunable)
- send window to some place in that grid, either moving the window with your mouse, or using [Win + arrows] keyboard shortcuts

Is that all ?

[2021-12-31 09:43] sylvainfaivre commented on #72
I guess this is explained, in part, on top of the README, but I mean it lacks the specifics.
Like this :
- you can have a window fill one column using [Win + Left arrow] or [Win + Right arrow]
- then you can tile a window into a half column using [Win + Up arrow] or [Win + Down arrow]
- ...

[2022-01-05 07:38] Kerwood commented on #69
For the impatient, you can disable version validation with the following command.
[code]

Set it to false to enable it again.

[2022-01-09 22:20] stloewen commented on #37
Same Problem. Manually installed it under Ubuntu 21.10. Works fine in a X11-Session, tiles incorrectly in a Wayland-Session.

[2022-01-14 06:24] lamarios opened #74 "Since gnome-shell 41.3 window switch back to previous size when switching window"
Fedora 35 on wayland

Let say i resize a window from 1/2 to 1/4 then if i switch to another window it will resize back to 1/2. I was looking around and saw that the gTile extension is also facing the same issue here: https://github.com/gTile/gTile/issues/267

It might be worth to follow this thread to figure out the issue

[2022-01-15 01:22] lamarios commented on #74
a bug was opened here: https://gitlab.gnome.org/GNOME/mutter/-/issues/2091

[2022-01-24 22:50] nekohayo opened #76 "Interferes with arbirtrary tiled window resizing (Super + Middleclick drag)"
Hi there,
This extension interferes with the ability to finely adjust the split/tiling between two windows using the Super + middleclick GNOME Shell window resizing feature.

Without this extension, it works without problems; but with this extension, it bounces around incontrollably and tries to quarter-split, etc.

[2022-02-14 10:14] martinhoyer opened #78 "Modifiable columns width"
As I understand, currently we can use n number of columns which will always be evenly divided.
The idea is to add support for editing column(s) width.
One use-case would be for ultra-wide monitor users, where it might be desirable to have 3 columns, with the centre one slightly wider then the side ones.

[2022-02-20 12:40] okias opened #79 "visual glitch when maximalizing window"
HW: 4k screen
SW: GNOME 41

Keypress:
- WINkey + UP arrow

What happends with wintile:
- window is moved in position 0,0 in current size
- window is maximallized

Without wintile:
- animation show fluent maximalization from current window size and position.

Log:
[code]

[2022-03-07 22:39] raphaelkerschbaumer opened #80 "Tiling with 4 columns causes out-of-screen on the right side"
I just downloaded WinTile and played around a bit with it. During that I found out, that when using 4 columns and moving windows to the rightmost quarter, some of them are moving partly out-of-screen (the "x" in the upper right corner of the window isn't visible anymore). This does not happen with all applications though, however, I've experienced it on these:
- Google Chrome
- Ubuntu Settings
- G

[2022-03-29 02:27] mdfahner opened #81 "GNOME 42"
With GNOME 42 out, it would be great to have the extension support it.  Is anything needed to be changed aside from adding 42 to the metadata?

[2022-03-30 01:36] mdfahner commented on #81
https://github.com/Fmstrat/wintile/pull/82

[2022-04-16 16:22] vishalkhialani opened #83 "Can I increase the number of columns to 5 ?"
Is there a way I can increase the number of columns to 5 ? I did not find any configuration file to do so.
Please advice.

Thank you

[2022-05-28 00:40] joseph-zhong commented on #81
Thanks @mdfahner -- Tested it on a fairly fresh install of Ubuntu 22.04 / GnomeShell 42 and works like a charm!

[2022-06-29 06:25] Marwe commented on #48
Same here on Ubuntu 20.04 with gnome 1:3.30+2 and defined this alias to restart from cli:
[code]

[2022-07-10 22:13] shanto12 commented on #63
installation instructions again not clear. Go to the gnome extension page and do what? All I can do from there is to download a .zip file. Not sure what to do after that.

[2022-07-11 09:31] Vistaus commented on #63
If you only get the option to download a zip file, you're most likely using an unsupported browser. Otherwise the extension would get installed instead of point you to the .zip file.

Either way: even the .zip file is easily installable. Just open up GNOME Tweaks, go to the extensions page, choose to manually install an extension and choose the zip file. It should then be installed manually.

Anot

[2022-07-20 00:27] SOSANA commented on #63
For anyone in the future coming across this with issues for manual install follow this tutorial [here](https://www.debugpoint.com/manual-installation-gnome-extension/).

As well make sure to add "42.0" to metadata.json

[2022-07-25 14:35] mauriciogracia commented on #63
Can you please include the above instructions in the README of the repository root ?

I just went through the steps of trying to add a ZIP extension in Gnome, just to realize that I was using gnome-shell-extensions instead of gnome-extensions

[2022-08-13 11:52] adosar commented on #20
Is the feature added?

[2022-09-30 18:41] timoshishi commented on #63
This process worked for me on Ubuntu 22.04

1. Install Extension Manager flatpak from [flathub](https://flathub.org/apps/details/com.mattjakeman.ExtensionManager)
2. Download shell version 40, extension v7 of WinTile from the [gnome extensions website](https://extensions.gnome.org/extension/1723/wintile-windows-10-window-tiling-for-gnome/)
3. Unpack zipfile
4. Change manifest.json in the unpacked

[2022-10-10 00:21] okias commented on #69
@Fmstrat what is the current status (GNOME 43 made a reminder about this for me)? Thanks

[2022-10-10 04:46] Kerwood commented on #69
It looks like the development of this fine extension has dies. Some have forked it.
Have a look at https://github.com/Fmstrat/wintile/pull/82#issuecomment-1193095739

[2022-11-18 00:42] charlesritchea opened #89 "GNOME 43"
Gnome 43 comes with Ubuntu 22.10 and wintile yet again is disabled. Seeing as this happens every release of Gnome, maybe there is a different approach to setting version support?